.p-button {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.87);
    transition: background-color 0.2s, border-color 0.2s, color 0.2s, box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
}

.p-button:not(.p-highlight):hover {
    background: #f6f6f6 !important;
    border-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.87);
}

.p-highlight, .p-highlight:enabled:hover, .p-highlight:enabled:focus {
    background: #e0e0e1;
    border-color: #e0e0e1;
    color: rgba(0, 0, 0, 0.87);
}
