<div class="card p-0">
  <p-table
    dataKey="code"
    [value]="results"
    responsiveLayout="scroll"
    styleClass="p-datatable-sm"
    paginatorPosition="top"
    [paginator]="true"
    [rows]="rowsPerPage"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [showFirstLastIcon]="false"
    [showCurrentPageReport]="true"
    [totalRecords]="results"
    currentPageReportTemplate="Showing {last} of {{ results?.length }}"
  >
    <ng-template pTemplate="paginatorleft">
      <div>
        {{ selectedResults }} of {{ results?.length }}
        {{ 'GENERAL.DOCUMENTS_SELECTED' | translate }}
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th scope="col" class="pb-3 pt-3 pl-3 max-w-4rem">
          <p-checkbox
            [(ngModel)]="isHeaderChecked"
            (click)="onHeaderClick()"
            [binary]="true"
            inputId="binary"
          ></p-checkbox>
        </th>
        <th scope="col max-w-4rem">
          <img
            alt="Attachment Header Icon"
            class="w-2rem"
            [src]="getAttachmentHeaderIcon()"
          />
        </th>
        <th scope="col" pSortableColumn="name">
          {{ 'RESULTS.NAME' | translate }}
          <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="type.name">
          {{ 'RESULTS.DOCUMENT_TYPE' | translate }}
          <p-sortIcon field="type.name"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="lifeCycleState">
          {{ 'RESULTS.STATUS' | translate }}
          <p-sortIcon field="lifeCycleState"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="documentVersion">
          {{ 'RESULTS.VERSION' | translate }}
          <p-sortIcon field="documentVersion"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-result>
      <tr
        class="max-h-4rem justify-content-center"
        [ngClass]="result.isChecked ? 'results-selected' : ''"
      >
        <td class="pl-3 max-w-4rem">
          <p-checkbox
            (click)="onRowClick()"
            [(ngModel)]="result.isChecked"
            [binary]="true"
            inputId="binary"
          ></p-checkbox>
        </td>
        <td class="max-w-4rem">
          <div class="relative inline-block max-w-full">
            <img
              alt="Attachment Icon"
              class="w-2rem h-2rem"
              [src]="getAttachmentIcon(result)"
              (error)="imgError($event)"
            />
            <div class="file-count">
              <ng-container *ngIf="showCount">
                {{ fileCount }}
              </ng-container>
            </div>
          </div>
        </td>
        <td>
          <span pTooltip="{{ result.name }}">
            {{ result.name | trim: 25 }}
          </span>
        </td>
        <td>{{ result.type.name }}</td>
        <td>{{ result.lifeCycleState }}</td>
        <td>{{ result.documentVersion }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
