<p-table
  dataKey="code"
  [scrollable]="true"
  scrollHeight="600px"
  [value]="chooseModification"
  responsiveLayout="scroll"
>
  <ng-template pTemplate="header" let-category>
    <tr>
      <th scope="col" class="fcol-flex"></th>
      <th scope="col" class="scol-flex">
        {{ 'DOCUMENT_SEARCH.TABLE.HEADER.MODIFICATION_TYPE' | translate }}
      </th>
      <th scope="col">
        {{ 'DOCUMENT_SEARCH.TABLE.HEADER.DESCRIPTION' | translate }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-category>
    <tr>
      <td class="fcol-flex">
        <p-radioButton
          [inputId]="category.key"
          name="category"
          [value]="category"
          [(ngModel)]="selectedValue"
          (ngModelChange)="onItemChange()"
          class="ml-5"
        ></p-radioButton>
      </td>
      <td class="scol-flex">
        <label [for]="category.key">{{ category.name | translate }}</label>
      </td>
      <td>
        <label [for]="category.key">{{ category.desc | translate }}</label>
      </td>
    </tr>
  </ng-template>
</p-table>
