<ocx-portal-page>
  <ocx-page-header
    header="{{
      'DOCUMENT_MENU.DOCUMENT_MORE.DOCUMENT_BULK.HEADER' | translate
    }}"
    subheader="{{ renderSubheader() }}"
    [actions]="headerActions"
    [disableDefaultActions]="true"
    [manualBreadcrumbs]="true"
    class="header-class"
  >
  </ocx-page-header>
  <div class="p-2 mb-4 pstep-padding-left bg-white">
    <p-steps
      [model]="menuItems"
      [(activeIndex)]="indexActive"
      [readonly]="true"
      id="stepper"
    ></p-steps>
  </div>
  <div class="steps-container min-height">
    <app-documents-choose
      class="documents_choose"
      *ngIf="indexActive === 0 && isShow"
      (isCheckEvent)="isCheck($event)"
    ></app-documents-choose>
    <app-documents-choose-modification
      *ngIf="indexActive === 1"
      (isCheckEvent)="isRadioCheck($event)"
    >
    </app-documents-choose-modification>
    <div class="modification-type-result" *ngIf="indexActive === 2">
      <ng-container [ngSwitch]="selectedOperation">
        <ng-template [ngSwitchCase]="'A'">
          <app-documents-update
            [checkedResults]="checkedArrayResults"
            [isSubmitting]="isSubmitting"
            [documentBulkUpdateForm]="
              documentBulkForm.get('documentBulkUpdateForm')
            "
            (formValue)="onChangeFormValue()"
            [documentTypes]="documentTypes"
          ></app-documents-update>
        </ng-template>
        <ng-template [ngSwitchCase]="'B'">
          <app-documents-delete
            [checkedResults]="checkedArrayResults"
          ></app-documents-delete>
        </ng-template>
      </ng-container>
    </div>
  </div>
</ocx-portal-page>
